<div class="header">
  <h1>
    Simple, traffic-based pricing
  </h1>
  <p>Sign-up for out 30-day trial. No credit card required.</p>
</div>

<div class="pricing-container">
  <div class="pageviews info-style">100K PAGEVIEWS</div>

  <app-slider-select></app-slider-select>

  <div class="value-box">
    <div class="value">$16.00</div>
    <div class="info-style">/ month</div>
  </div>

  <div class="billing-selection">
    <div class="info-style monthly">Monthy Billing</div>
    <app-check-switch [activeSwitch]="yearlyBilling" (onchange)="toggleMonthlyBilling()"></app-check-switch>
    <div class="info-style yearly">Yearly Billing <span class="badge rounded-pill">-25%</span></div>
  </div>

  <hr class="line-divider">

  <div class="call-to-action">
    <div class="advantages">
      <span>Unlimited websites</span>
      <span>100% data ownership</span>
      <span>Email reports</span>
    </div>

    <div class="action">
      <button type="button" class="action-button">Star my trial</button>
    </div>
  </div>
</div>
