@import "src/assets/colors";

//base 12px

//$switchBorderWidth: 5px;
$switchBorderWidth: 0.4em;
//$switchHeight: 26px;
$switchHeight: 2em;
$sphere: $switchHeight - 2*$switchBorderWidth;

.check-switch {
  height: $switchHeight;
  width: 4em;
  border-radius: 15px;
  border: $switchBorderWidth solid $lightGrayishBlue2;
  background: $lightGrayishBlue2;
  position: relative;

  .check-sphere {
    transition: ease-in-out 0.3s;
    background: white;
    border-radius: 100%;
    height: $sphere;
    width: $sphere;
    position: relative;
    left: 0;
  }

  &.active {
    background: $strongCyan;
    border-color: $strongCyan;
    .check-sphere {
      left: 100%;
      transform: translate(-100%,0);
    }
  }

  &:hover {
    background: $strongCyan;
    border-color: $softCyan;
    cursor: pointer;
  }
}
